MONGO_URI=CHANGE_ME
JWT_SECRET=CHANGE_ME
JWT_ACCESS_SECRET=CHANGE_ME
JWT_REFRESH_SECRET=CHANGE_ME
PORT=CHANGE_ME
CLOUDINARY_CLOUD_NAME=CHANGE_ME
CLOUDINARY_API_KEY=CHANGE_ME
CLOUDINARY_API_SECRET=CHANGE_ME

# Crawler Service Config (Zyte API + Ollama)
ZYTE_API_KEY=CHANGE_ME
OLLAMA_HOST=CHANGE_ME
OLLAMA_MODEL=CHANGE_ME

CRAWLER_ADMIN_EMAIL=CHANGE_ME
CRAWLER_ADMIN_PASSWORD=CHANGE_ME
CRAWLER_DEFAULT_CATEGORY=CHANGE_ME
BLOG_API_URL=CHANGE_ME
